* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/netflix_bg.jpg");
    height: 94vh;

    position: relative;
    /* maybe etay position dise jate eta parent thake .box er */
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: max(1650px, 100vw);
}

/* to make the bacground image zoomed in */
/* .zoomed {
    background-size: 124%;
    background-position: center 72%;
} */

.main .box {
    width: 100%;
    height: 94vh;
    background-color: black;
    opacity: 0.64;

    position: absolute;
    top: 0;

}

nav {
    display: flex;
    max-width: 76vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;

    height: 92px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 92px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: white;
    position: relative;
    z-index: 10;

    gap: 23px;
    padding: 0px 30px;
}

/* .hero> :nth-child(1) { */
/* > diye immediate first child ke indicate kora hoise; > na dile div tag er first child er upor o effect portesilo */
/* font-size: 48px;
    font-weight: 900;
    text-align: center; */
/* } */

/* going to give the above effect to all the section headelines */
.section-headlines {
    font-size: 48px;
    font-weight: 900;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

div .separation {
    height: 8px;
    background-color: rgb(31, 31, 31);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    border: none;

}

.btn-red {
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: 500;
    border-radius: 4px;
    padding: 15px 24px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.main input {
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    /* border: none; */
    padding: 15px 190px 15px 15px;
    background-color: rgba(23, 23, 23, 0.6);
    border: 1px solid rgba(165, 165, 165, 0.6);

    color: white;
}

.main input::placeholder {
    color: rgb(173, 173, 173);
}

.btn-red-sm {
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 75vw;
    margin: auto;
    color: white;

    align-items: center;
    /* height: 74vh; */
    /* gap: 10px; */
    /* flex-wrap: wrap; */
}


section.first>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 34px 0;
}

.sec1-image img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.sec1-image {
    position: relative;
}

.sec1-video video {
    position: absolute;
    top: 123px;
    left: 72px;
    width: 442px;
}

@media screen and (max-width: 1300px) {
    nav img {
        width: 130px;
        z-index: 10;
    }

    .first {
        flex-wrap: wrap;
    }

    .sec1-image img {
        width: 305px;
        position: relative;
        z-index: 10;
    }

    .sec1-video video {
        width: 240px;
        top: 82px;
        left: 40px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .section-headlines {
        font-size: 32px;
        text-align: center;
    }

    .section-para {
        font-size: 18px;
        text-align: center;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero input {
        font-size: 14px;
        padding: 12px 150px 12px 12px;
    }

    .hero-buttons {
        font-size: 18px;
        flex-direction: column;
    }

}

.section-para {
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: 400;
}

.watch-everywhere {
    width: 50vw;
}

.watch-everywhere div {
    max-width: 350px;
}

.faq {
    background-color: black;
    color: white;
    /* text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 34px;
}

.faq h2 {
    text-align: center;
    padding: 20px 0px;
}

.faq-box {
    background-color: #2d2d2d;
    padding: 24px;
    width: 70vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    cursor: pointer;
    /* transition: all 1s ease-out; */
}

.faq-box svg {
    /* eta korsi karon svg te fill=white likle kaj kore na, karon stroke deya ase black color er */
    filter: invert(1);
}

.faq-box:hover {
    background-color: rgb(65, 65, 65);
}


footer {
    max-width: 73vw;
    margin: auto;
    padding: 20px 0px 20px 0px;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


footer a {
    /* text-decoration: none; */
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

footer div {
    padding: 8px 0px;
}

@media screen and (max-width: 1300px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 0px 30px;
    }
    
    .watch-everywhere {
        width: 100vw;
        text-align: center;
    }

    .faq-box span {
        text-align: left;
    }
}